{% load static %}
<nav id="navbar" class="navbar main-nav is-black">
    <div class="nav-container">
        <div class="navbar-icons">
            <a class="navbar-item">
                <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
            </a>
            <a class="navbar-item back-arrow is-not-active" onclick="returnToFunction('')">
                <img src="{% static  'chatou_auto/static/images/Left-Arrow_Back.png' %}" alt="">
            </a>
        </div>

        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static  'chatou_auto/static/images/Logo_small_Footer.png' %}" alt="Logo">
            </a>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <a href="/" class="navbar-item">
                <span class="image inline-icon is-size-4 rightarrow_nav">
                    
                </span>
                Accueil
            </a>
            <!-- <a href="/chatou_auto/introduction/" class="navbar-item">
                Introduction
            </a> -->
            <!-- <a href="/chatou_auto/historique/" class="navbar-item">
                Un peu d’histoire 
            </a>
            <a href="/chatou_auto/limpressionnisme/" class="navbar-item">
                À la source de l'impressionnisme
            </a> -->
            {% for burger_link in burger_menu %}
            
            {% if burger_link.itinerary.itinerary_type == 'INTRO' %}   <!-- Introduction links -->
            <a href="/{{burger_link.menu.menu_link}}" class="navbar-item">
                <span class="image inline-icon is-size-4 rightarrow_nav">
                    
                </span>
                {{burger_link.menu.menu_title}}
            </a>
            {%elif burger_link.itinerary.itinerary_type == 'ITIN' %} <!-- Itinerary links -->
            <a href="/{{burger_link.menu.menu_link}}" class="navbar-item">
                <span class="image inline-icon is-size-4 rightarrow_nav">
                    <img src="{% static  'chatou_auto/static/images/PCT_Arrow_white_Right.png' %}" alt="" />
                </span>
                {{burger_link.menu.menu_title}}
            </a>
            {%endif%}
            {% endfor %}
            <!-- <a class="navbar-item">
                Événements
            </a> -->
            <!-- <a class="navbar-item" href="#">
                L'auteur
            </a> -->
            <!-- <a class="navbar-item">
                À propos
            </a> -->
            <a class="info-tooltip-download"  id ="pwa_link" on="download-app">
                <span class="image inline-icon is-size-4 downloadimg_nav">
                    <img src="{% static  'chatou_auto/static/images/Pictos_Big_Telech.svg' %}" alt="" />
                </span>
                <span>
                    AJOUTER À L'ÉCRAN D'ACCEUIL
                </span>
            </a>
        </div>
        <div class="navbar-icons">
            <!-- <a class="navbar-item has-badge-rounded has-badge-danger notif-cta" data-badge="8">
                <img src="{% static  'chatou_auto/static/images/Picto_alert.png' %}" alt="">
            </a> -->
            <a class="navbar-item map-cta-reset">
                <img src="{% static  'chatou_auto/static/images/Picto_map.png' %}" alt="Map">
            </a>
        </div>
    </div>

</nav>