{% load static %}

<!-- <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-X5_m3BWB2_rZ03U_y9ITHpom15HuBNc&callback=initMap">
</script> -->
<!-- <script src="{% static  'chatou/static/js/maps.js' %}"></script> -->
<!--This modal need to be added if there is an "info-tooltip" class in the "cta-icon-container"
    Or if there is a tile "Infos" in the sideabar -->


{% include 'step_addresses_auto.html' %}

<script src="{% static  'chatou_auto/static/js/modal_infos.js' %}">

</script>