{% load static %}
<div class="all-step tile is-ancestor">
    <div class="tile is-vertical">
        {% for step in raw_step_menu %}
            {% if forloop.counter0|divisibleby:3 %}
            
            <div class="tile">
            {% elif forloop.counter0 == 0 %}
            <div class="tile">  
            {% endif %}    
                <div class="tile is-parent is-child">
                    <a href="/{{step.menu_link}}">
                        <div class="step-container">
                            <div class="image">
                                <img src="/media/{{step.filename}}" alt="">
                            </div>
                            <div class="legend">
                                <div class="{{Itin_Color}}">
                                    <div class="celltext">
                                        <span class="number-{{Itin_Color}}">{{step.page_order}}</span>
                                        <span class="step-title-text">{{step.menu_title}}</span>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </a>
                </div>     
                {% if forloop.counter|divisibleby:3 %}
                </div>
                {% endif %}
    {% endfor %}
    
</div>
</div>