{% load static %}
<aside class="column is-one-third-tablet is-one-quarter-fullhd">
    <div class="section-aside">
        <div class="tile is-ancestor">
            <div class="tile is-vertical">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <h2 class="title is-size-4">MON PLAN</h2>
                        <figure id="mapframe" class="image map-cta is-thumbnail">

                            <div id="googleMap" class="stepmap"></div>

                        </figure>
                    </div>
                </div>
                <div class="tile is-parent is-mobile-margin">
                    {% if info_section == 'YES' %}
                    <div class="tile is-child">
                        <h2 class="title is-size-4">INFOS PRATIQUES</h2>
                        <div class="breadcrumb is-centered">
                            {% include 'step_side_menu_auto.html' %}
                        </div>
                    </div>
                    {% endif %}
                </div>
<!--place side step navigator-->
{% include 'step_side_navigator_auto.html' %}
            </div>
        </div>
    </div>
</aside>