{% load static %}
{% if step_audio == 'NA' %}
{% else %}
<cite>
   
        <!-- <a class="image inline-icon audio-player-cta" data-track="MaPiste1">
            <img src="{% static  'chatou_auto/static/images/Pictos_Text_Audio.svg' %}" alt="">
        </a> -->
    
    <!-- <a class="has-text-primary cite-cta" data-target="citation1">Voici une liste non-exhaustive de ...</a>
    <a class="image inline-icon cite-cta" data-target="citation1">
        <img src="{% static  'chatou_auto/static/images/Pictos_Text_Citation.svg' %}" alt="">
    </a> -->
</cite>
{% endif %}