
{% load static %}

            <article class="content column">

                <!-- <p class="is-description">
                    Chatou est notamment connue pour son riche patrimoine architectural, mais aussi pour les nombreux
                    événements ayant lieu sur ses îles et le mouvement des Impressionnistes
                </p> -->
                <!-- <h3>
                    Localisation
                </h3> -->
                <p>
                    Henri Bertin, ministre sous le Roi Louis XV et à nouveau sous Louis XVI, avait acquis le domaine de Chatou et Montesson, cinquante-cinq hectares de terres, bois y compris le parc et le « vieux » château qui avait été rénové avant 1750 par son ancien propriétaire Marc-Antoine Allard. De l’ancien château sont conservés et visibles au n. 12 de la rue du docteur Rochefort, le bâtiment qui probablement servait de communs de l’ancien château ainsi que les étables à colombage qui donnent sur la même cour. 
                </p>
                <p>
                    Le vieux château, qui daté vraisemblablement du XVIe siècle, était situé dans la continuation du baillage, à l’emplacement du château construit par l’architecte Chatelet en 1857 et auquel on accède après avoir dépassé la grille du parc. Le château Vieux, telle était son appellation à l’époque, et les communs furent réutilisés par Bertin pour son personnel nombreux. Notez les lions devant la façade du baillage : ils provenaient du portail à grillage de l’entrée du domaine du château de Bertin.
                </p>
                <figure class="is-pulled-left image is-gallery-trigger" data-target="gallery-name-1 .img-2">
                    <img src="{% static  'chatou/static/images/pages/impressionistes_a/step3/Ancienne entrée Chateau de la pièce deau.jpg' %}" class="is-clearfix" alt="">
                    <figcaption><i>Chatou, l’ancienne entrée du château Bertin</i>, vers 1905</figcaption>
                </figure>
                <p>
                    Lui-même se fit bâtir une résidence digne d’un ministre d’Etat et demanda à l’archi-star de l’époque, Jaques-Germain Soufflot, d’édifier son nouveau logis et un vaste parc agrémenté entre de statues et dépendances. Soufflot mourut en 1780 et son œuvre qui fut ensuite achevée par son assistant, Jean-Jacques Lequeu. Bertin fit fermer la grande rue au-delà du baillage, rejeta beaucoup de plus à l’ouest le chemin de Montesson, supprima la grande avenue faisant face au château, ainsi que les places publiques et fit bâtir le « château neuf » sur le sommet de la falaise. La façade principale donnait sur Chatou, et au levant, la vue dominait la Seine, les Iles, la plaine de Nanterre et les crêtes boisées du Mont Valérien.
                </p>
                <div class="wrapper-content">
                     <!-- <figure class="is-pulled-left image is-gallery-trigger" data-target="gallery-name-1 .img-1">
                        <img src="{% static  'chatou/static/images/Visuels/Vis_Seine.jpg' %}" class="is-clearfix" alt="">
                    </figure> -->
                    <!-- <h3 class="">
                        Patrimoine
                    </h3> -->
                    <p>
                        Le château de Bertin était vaste : on comptait environ cinquante pièces, dont trente-deux chambres, pour une résidence qui avait la vocation d’accueillir d’illustres hôtes. Le parc comptait un grand nombre de statues et décorations, dont six en provenance du château de Versailles, donations du Roi Louis XV, des chinoiseries et un nymphée, construit par Soufflot, qui recevait l’eau des étangs du domaine seigneurial. 
                    </p>
                    <p>
                        M. Bertin demeura dans son château jusqu’au début de la Révolution française, puis en 1791 il venda la seigneurie à Anne-Thérèse de Pelser-Berensberg, épouse du marquis de Feuquières, et se retira à Spa en Belgique, où il mourut le 16 septembre 1792. Les nouveaux seigneurs de Chatou, ainsi que d’autres familles aristocrates qui s’étaient installées à Chatou et les villages avoisinants, furent victimes de la Terreur. Après la Révolution le château fut acquis par le maire de Chatou, Charles-Alexis Travault et puis en 1824 par Emile Lacroix, lui-même maire de Chatou de 1829 à 1832. Ce furent les héritiers de celui-ci et leur descendants, la famille Moisant, qui à partir de 1867 commencèrent à démanteler le domaine de M. Bertin. La villa fut détruite en 1910 et l’œuvre de lotissement fut complétée entre les deux guerres.
                    </p>
                    {% include 'step_cite.html' %}

                </div>
                <div>
                    <a class="pagination-right" href="/chatou/step4/">
                    <span>
                        Le Nymphée de Soufflot 
                    </span>
                        <span class="image">
                        <img src="{% static  'chatou/static/images/Pictos_Arrow_blue_Right.svg' %}">
                    </span>
                    </a>
                    <a class="pagination-left" href="/chatou/step2/">
                    <span class="image">
                        <img src="{% static  'chatou/static/images/Pictos_Arrow_blue_Left.svg' %}">
                    </span>
                        <span>
                            L’église de Notre-Dame
                    </span>
                    </a>
                    <div class="is-clearfix">

                    </div>
                </div>

            </article>
