{% extends "base_template.html" %}

{% load static %}

{% block content %}

{% include 'header_introduction.html' %}





<section class="section">

    <div class="container">
        <div class="columns">


            <article class="content column">
                <h1 class="title is-size-2">
                    L'auteur
                </h1>
                <div class="cta-icon-container">
                    <a class="linked-in-profile">
                        <img src="../specs/assets/Pictos_Big_Linkedin.svg" alt="">
                    </a>
                </div>
                <h3>
                    Ulrike Kasper
                </h3>
                <p>
                    Ulrike Kasper est peintre et historienne d’art. Depuis dix-sept ans, elle enseigne l’art moderne et
                    l’art contemporain dans diverses universités (Sorbonne - Paris III, Universités américaines à Paris,
                    Université des temps libres à Evry Courcouronnes, Institut d’histoire de l’art de Chatou). En 2002,
                    elle a collaboré à la création de la galerie contemporaine du musée de la cité de la Musique.
                    Historienne d’art, elle a publié des articles sur l’art, l’architecture et la musique, et des
                    livres, dont Écrire sur l’eau, l’esthétique de John Cage aux éditions Hermann, Paris, 2005 et John
                    Cage, un artiste dans son temps, aux éditions du CNDP, Paris, 2009. La ville de Paris est devenue
                    une de ses passions. Durant ses conférences, elle a développé des parcours à travers l’histoire,
                    l’architecture et les arts de Paris, en tissant des liens entre son passé, chargé d’histoire, et le
                    monde contemporain
                </p>
                <p>
                    Ulrike Kasper est peintre et historienne d’art. Depuis dix-sept ans, elle enseigne l’art moderne et
                    l’art contemporain dans diverses universités (Sorbonne - Paris III, Universités américaines à Paris,
                    Université des temps libres à Evry Courcouronnes, Institut d’histoire de l’art de Chatou). En 2002,
                    elle a collaboré à la création de la galerie contemporaine du musée de la cité de la Musique.
                    Historienne d’art, elle a publié des articles sur l’art, l’architecture et la musique, et des
                    livres, dont Écrire sur l’eau, l’esthétique de John Cage aux éditions Hermann, Paris, 2005 et John
                    Cage, un artiste dans son temps, aux éditions du CNDP, Paris, 2009. La ville de Paris est devenue
                    une de ses passions. Durant ses conférences, elle a développé des parcours à travers l’histoire,
                    l’architecture et les arts de Paris, en tissant des liens entre son passé, chargé d’histoire, et le
                    monde contemporain
                </p>
            </article>
        </div>
    </div>
</section>
{% endblock %}
